.reviewWrite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 101px auto 62px;

  .reviewWritePage {
    display: flex;
    flex-direction: column;
    width: 678px;

    .Store {
      height: 40.93px;
      margin-bottom: 20px;

      .StoreName {
        color: #ced89e;
        font-size: 30px;
      }
    }

    .Melon {
      height: 206px;
      border: 1px solid gainsboro;
      border-radius: 5px;

      .Point {
        display: flex;
        align-items: center;
        position: relative;
        height: 36px;
        width: 175px;
        margin: 10px auto;
        margin-bottom: 20px;

        .PointResultSpan {
          display: flex;
          justify-content: space-between;
          position: absolute;
          left: 0;
          transition: width 0.3s;
          overflow: hidden;

          .melonImg {
            width: 30px;
            margin-left: 5px;
          }
        }

        .PointResult {
          display: flex;
          justify-content: space-between;
          position: relative;

          .melonImg {
            width: 30px;
            margin-left: 5px;
          }
        }

        input {
          position: absolute;
          left: 0;
          margin-left: -5px;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          z-index: 1;
        }
      }

      .Review {
        position: relative;
        margin-left: 10px;
        height: 150px;
        width: 100%;

        .ReviewInput {
          height: 90%;
          width: 90%;
          border: none;
          resize: none;
          outline-color: white;
        }

        .Span {
          position: absolute;
          right: 20px;
          bottom: -5px;
          color: gray;
        }
      }
    }

    .Photo {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      width: 676px;

      .PhotoInner {
        display: flex;
        position: relative;
        margin-top: 20px;
        margin-right: 9px;
        margin-bottom: 40px;
        width: 100%;
        height: 100%;

        .PhotoInnerLabel {
          position: relative;
          margin-right: 9px;
          margin-bottom: 9px;

          .PhotoInnerLength {
            position: absolute;
            bottom: 2px;
            left: 60px;
            color: gray;
          }
        }

        .PhotoInnerPhotos {
          display: flex;
          flex-wrap: wrap;
          margin-left: 9px;
          margin-bottom: 9px;

          li {
            position: relative;
            margin-right: 9px;
            margin-bottom: 9px;

            .PhotoInnerPhotosImg {
              width: 89px;
              height: 89px;
              margin: 0px, 9px, 9px, 0px;
            }

            .PhotoInnerPhotosBtn {
              position: absolute;
              left: 75px;
              font-size: 20px;
              color: azure;
            }
          }
        }

        .PhotoInnerInput {
          display: none;
        }

        .PhotoInnerInputFile {
          position: relative;
          width: 89px;
          height: 89px;
          border: 1px dotted darkblue;
          font-size: 50px;
          color: gainsboro;

          i {
            position: absolute;
            right: 20px;
            top: 15px;
          }
        }
      }
    }

    .Result {
      display: flex;
      justify-content: space-between;

      .Btn {
        border: 1px solid gray;
        padding: 15px 20px;
        border-radius: 50px;
        font-size: 16px;
        color: gainsboro;
      }

      .BtnChange {
        padding: 15px 20px;
        border: 1px solid #76ba99;
        border-radius: 50px;
        font-size: 16px;
        color: #76ba99;
      }

      .BtnCancel {
        padding: 15px 50px;
        border: 1px solid gray;
        border-radius: 50px;
        font-size: 16px;
        color: gray;
      }

      .BtnReview {
        padding: 15px 30px;
        margin-left: 15px;
        border-radius: 50px;
        background-color: gainsboro;
        font-size: 16px;
        border: 1px solid gainsboro;
        color: white;
      }

      .BtnReviewChange {
        padding: 15px 30px;
        margin-left: 15px;
        background-color: #76ba99;
        color: white;
        border-radius: 50px;
        border: 1px solid #76ba99;
        font-size: 16px;
      }
    }
  }
}
