@import '../../styles/variables.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  height: 100vh;
  width: 100%;
  background-image: url('../../../public/images/main-back.png');
  background-size: contain;

  a {
    text-decoration: none;
    color: white;

    &:visited {
      text-decoration: none;
    }
  }

  .welcomeMessage {
    font-size: 24px;
    font-weight: 500;
    color: white;
  }

  .mainLoginMessage {
    cursor: pointer;
  }
}
