@import '../../styles/variables.scss';

.searchedResultItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 5px;
  padding: 8px 8px 8px 16px;
  gap: 3px;
  border-radius: 10px;

  &:hover {
    background-color: $melonColor3;
    transition: 0.3s;
  }

  span:nth-child(1) {
    font-size: 20px;
  }
}
