@import '../../styles/variables.scss';
.searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .searchBar {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    .searchIcon {
      position: absolute;
      left: 4%;
      color: white;
    }

    input {
      height: 40px;
      width: 90%;
      border-radius: 24px;
      padding-left: 50px;
      border: 3px solid white;
    }

    .searchXButton {
      position: absolute;
      right: 4%;
      color: white;
      cursor: pointer;
    }
  }
  .searchButton {
    text-align: center;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: $melonColor2;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &:hover {
      background-color: $melonColor1;
    }
  }
}
