@import '../../styles/variables.scss';

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .searchFormSet {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;

    .searchBar {
      position: relative;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;

      .searchIcon {
        position: absolute;
        left: 4%;
      }

      input {
        height: 40px;
        width: 90%;
        border-radius: 24px;
        padding-left: 50px;
        border: 3px solid lightslategray;
        background-color: white;
      }

      .searchXButton {
        position: absolute;
        right: 4%;
        cursor: pointer;
      }
    }
    .searchButton {
      text-align: center;
      height: 40px;
      width: 80px;
      border-radius: 20px;
      background-color: $melonColor2;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      &:hover {
        background-color: $melonColor1;
      }
    }
  }
}
