.userInfo {
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px 20px 50px;
  background: white;
  text-align: center;
  font-weight: 500;

  .title {
    margin: 24px;
    font-size: 25px;
    font-weight: bolder;
    color: #76ba99;
  }

  input {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 15px 10px;
    border: none;
    border-radius: 6px;
    background-color: rgb(245, 245, 245);
  }

  .profileImg {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    margin-left: 120px;
  }

  .profileImg2 {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 87px;
    left: 140px;
    border-radius: 50%;
  }

  button {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 20px;
    padding: 14px;
    border: none;
    border-radius: 6px;
    background-color: #76ba99;
    color: rgb(255, 255, 255);
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  a {
    text-decoration: none;

    &:visited {
      color: gray;
      text-decoration: none;
    }

    &:hover {
      color: #76ba99;
    }
  }

  .link {
    display: block;
    margin-top: 20px;
    color: rgb(140, 140, 140);
  }

  .gender,
  .age {
    all: revert;
    gap: 30px;
    margin-top: 20px;
    margin-left: 10px;
  }

  input[type='radio']:checked {
    width: 10px;
    height: 10px;
    background-color: blue;
  }

  input[type='radio'] {
    width: 10px;
    height: 10px;
  }
}
