.reviewList {
  width: 800px;

  .reviewListTop {
    display: flex;
    justify-content: space-between;
    height: 23px;
    margin-bottom: 14px;

    .TopReviewLeft {
      .TopReviewLeftText {
        font-size: 18px;
        color: rgb(79, 79, 79);
      }

      .TopReviewLeftNumber {
        font-size: 18px;
        color: gray;
      }
    }
    .TopReviewRight {
      .TopReviewRightBtn {
        height: 23px;

        .TopReviewRightBtns {
          color: gray;
        }

        i {
          color: gray;
        }
      }
    }
  }
  .reviewListMain {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 5px;
    line-height: 150%;

    &:hover {
      background-color: rgb(240, 241, 255);
    }

    .MainLeft {
      width: 70px;
      margin: 15px 35px 0px 8px;

      .MainLeftPhotos {
        width: 60px;
        height: 60px;
        border-radius: 100px;
      }

      .MainLeftName {
        width: 60px;
        font-size: 13px;
      }

      .MainLeftReviews {
        font-size: 8px;
      }
    }

    .MainCenter {
      width: 605;

      .MainCenterDay {
        width: 600px;
        margin-bottom: 10px;
        font-size: 14px;
        color: gray;
      }
      .MainCenterPhoto {
        margin: 20px 0px;

        img {
          width: 70px;
          margin: 10px;
          object-fit: cover;
        }
      }
    }

    .MainRight {
      position: relative;
      width: 60;
      margin-left: 22px;

      .MainRightPoint {
        position: absolute;
        top: 12px;
        right: 15px;
        color: white;
        font-size: 15px;
      }
    }

    .MainRightMelon {
      width: 40px;
      border-radius: 20px;
    }
  }
}
