@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css';

.resultListWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  min-height: 1100px;
  margin: 0 auto;

  .contentsWrap {
    width: 800px;

    .resultListTitleWrap {
      width: 800px;
      margin: 0 auto;
      padding: 15px 24px;

      .resultListTitle {
        margin: 0 auto;
        padding: 10px 15px;
        font-size: 29px;
        color: #76ba99;
        line-height: 1.5;
      }

      .category {
        padding: 15px;
        border: 1px solid #aaa;
        border-radius: 6px;

        > .categoryLink {
          font-size: 15px;
          color: #666;
          text-decoration: none;

          &::after {
            content: '|';
            padding: 0 10px;
          }

          &:nth-last-child(1)::after {
            display: none;
          }
        }
      }
    }

    .resultListContentsWrap {
      margin: 0 auto;
      padding: 0 24px;
      width: 800px;

      .resultListContentsUl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        margin-top: 10px;

        .resultListContentsLi {
          background: fefefe;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 50%;
          padding-bottom: 20px;

          .restaurantItem {
            .thumb {
              position: relative;
              width: 359px;
              height: 239px;

              .dayOffImage {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 359px;
                height: 239px;
                font-size: 31px;
                font-weight: 900;
                color: #fff;
                line-height: 239px;
                text-align: center;
                background-color: #333;
                opacity: 0.8;
              }

              .resultImage {
                width: 100%;
              }
            }

            .info {
              padding-top: 10px;

              .title {
                display: inline-block;
                overflow: hidden;
                max-width: 64%;
                font-size: 21px;
                color: #555;
                line-height: 1.5;
                vertical-align: middle;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .searchPoint {
                margin-left: 5px;
                font-size: 21px;
                display: inline-block;
                vertical-align: middle;
                color: #76ba99;

                &::before {
                  content: '\f005';
                  font-family: 'Font Awesome 6 Free';
                  padding-right: 3px;
                }
              }

              .etc {
                font-size: 15px;
                color: #9b9b9b;
                line-height: 1.4;
              }

              .etcInfo {
                font-size: 15px;
                color: #9b9b9b;
                line-height: 1.4;

                .viewCount {
                  padding-right: 10px;
                  display: inline-block;

                  &::before {
                    content: '\f06e';
                    font-family: 'Font Awesome 6 Free';
                    padding-right: 4px;
                  }
                }

                .reviewCount::before {
                  content: '\f044';
                  font-family: 'Font Awesome 6 Free';
                  padding-right: 0px;
                }
              }
            }
          }
        }
      }
    }

    .pagingContainer {
      margin: 10px 0;

      .paging {
        padding: 15px 0;

        .pagingLink {
          display: inline-block;
          width: 40px;
          height: 40px;
          margin: 0 5px;
          font-size: 21px;
          color: #666;
          text-decoration: none;
          text-align: center;
          line-height: 40px;
          border: 1px solid #76ba99;
          border-radius: 50%;
        }
      }
    }
  }

  .searchFilterWrap {
    width: 400px;
    height: 100vh;
    background-color: #efefef;

    .searchFilterBox {
      margin: 30px 10px;

      > label {
        font-size: 19px;
        color: #666;
        line-height: 1.5;
      }
    }

    .searchFilterTop .radioBox {
      + label {
        display: inline-block;
        width: 180px;
        height: 50px;
        margin: 10px 5px;
        font-size: 15px;
        color: #bbb;
        line-height: 50px;
        text-align: center;
        border: 1px solid #bbb;
        border-radius: 6px;
      }

      &:checked + label {
        color: #76ba99;
        border: 1px solid #76ba99;
      }
    }

    .searchFilterMid .checkBox,
    .searchFilterBot .checkBox {
      + label {
        display: inline-block;
        width: 85px;
        height: 50px;
        margin: 10px 5px;
        font-size: 15px;
        color: #bbb;
        line-height: 50px;
        text-align: center;
        border: 1px solid #bbb;
        border-radius: 6px;
      }

      &:checked + label {
        color: #76ba99;
        border: 1px solid #76ba99;
      }
    }
  }
}

@media (max-width: 1199px) {
  .resultListWrap {
    .contentsWrap {
      order: 2;
      width: 100%;
      min-width: 400px;

      .resultListTitleWrap {
        width: 100%;
        min-width: 400px;
      }

      .resultListContentsWrap {
        width: 100%;

        .resultListContentsUl .resultListContentsLi {
          width: 100%;
        }
      }
    }

    .searchFilterWrap {
      order: 1;
      width: 100%;
      min-width: 400px;
      height: 100%;
    }
  }
}
