@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css';

.resultListWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  min-height: 1100px;
}

.resultListWrap .contentsWrap {
  width: 800px;
}

.resultListWrap .contentsWrap .resultListTitleWrap {
  margin: 0 auto;
  padding: 15px 24px;
  width: 800px;
}

.resultListWrap .contentsWrap .resultListTitleWrap .resultListTitle {
  font-size: 29px;
  color: #76ba99;
  line-height: 1.5;
  margin: 0 auto;
  padding: 10px 15px;
}

.resultListWrap .contentsWrap .resultListTitleWrap .category {
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.resultListWrap .contentsWrap .resultListTitleWrap .category > .categoryLink {
  font-size: 15px;
  color: #666;
  text-decoration: none;
}

.resultListWrap
  .contentsWrap
  .resultListTitleWrap
  .category
  > .categoryLink::after {
  content: '|';
  padding: 0 10px;
}

.resultListWrap
  .contentsWrap
  .resultListTitleWrap
  .category
  > .categoryLink:nth-last-child(1)::after {
  display: none;
}

.resultListWrap .contentsWrap .resultListContentsWrap {
  margin: 0 auto;
  padding: 0 24px;
  width: 800px;
}

.resultListWrap .contentsWrap .resultListContentsWrap .resultListContentsUl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  margin-top: 10px;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi {
  background: fefefe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 50%;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .thumb {
  position: relative;
  width: 359px;
  height: 239px;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .thumb
  .dayOffImage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 31px;
  font-weight: 900;
  color: #fff;
  line-height: 239px;
  text-align: center;
  background-color: #333;
  opacity: 0.8;
  width: 359px;
  height: 239px;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .thumb
  .resultImage {
  width: 100%;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info {
  padding-top: 10px;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info
  .title {
  display: inline-block;
  overflow: hidden;
  max-width: 64%;
  font-size: 21px;
  color: #555;
  line-height: 1.5;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info
  .searchPoint {
  margin-left: 5px;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  color: #76ba99;
}
.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info
  .searchPoint::before {
  content: '\f005';
  font-family: 'Font Awesome 6 Free';
  padding-right: 3px;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info
  .etc {
  font-size: 15px;
  color: #9b9b9b;
  line-height: 1.4;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info
  .etcInfo {
  font-size: 15px;
  color: #9b9b9b;
  line-height: 1.4;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info
  .etcInfo
  .viewCount {
  padding-right: 10px;
  display: inline-block;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info
  .etcInfo
  .viewCount::before {
  content: '\f06e';
  font-family: 'Font Awesome 6 Free';
  padding-right: 4px;
}

.resultListWrap
  .contentsWrap
  .resultListContentsWrap
  .resultListContentsUl
  .resultListContentsLi
  .restaurantItem
  .info
  .etcInfo
  .reviewCount::before {
  content: '\f044';
  font-family: 'Font Awesome 6 Free';
  padding-right: 0px;
}

.resultListWrap .contentsWrap .pagingContainer {
  margin: 10px 0;
}

.resultListWrap .contentsWrap .pagingContainer .paging {
  padding: 15px 0;
}

.resultListWrap .contentsWrap .pagingContainer .paging .pagingLink {
  display: inline-block;
  font-size: 21px;
  line-height: 40px;
  color: #666;
  text-decoration: none;
  margin: 0 5px;
  border: 1px solid #76ba99;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.resultListWrap .searchFilterWrap {
  background-color: #efefef;
  width: 400px;
  height: 100vh;
}

.resultListWrap .searchFilterWrap .searchFilterBox {
  margin: 30px 10px;
}

.resultListWrap .searchFilterWrap .searchFilterBox > label {
  font-size: 19px;
  color: #666;
  line-height: 1.5;
}

.resultListWrap .searchFilterWrap .searchFilterTop .radioBox + label {
  display: inline-block;
  font-size: 15px;
  color: #bbb;
  line-height: 50px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin: 10px 5px;
  width: 180px;
  height: 50px;
}

.resultListWrap .searchFilterWrap .searchFilterTop .radioBox:checked + label {
  color: #76ba99;
  border: 1px solid #76ba99;
}

.resultListWrap .searchFilterWrap .searchFilterMid .checkBox + label {
  display: inline-block;
  font-size: 15px;
  color: #bbb;
  line-height: 50px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin: 10px 5px;
  width: 85px;
  height: 50px;
}

.resultListWrap .searchFilterWrap .searchFilterMid .checkBox:checked + label {
  color: #76ba99;
  border: 1px solid #76ba99;
}

.resultListWrap .searchFilterWrap .searchFilterBot .checkBox + label {
  display: inline-block;
  font-size: 15px;
  color: #bbb;
  line-height: 50px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin: 10px 5px;
  width: 85px;
  height: 50px;
}

.resultListWrap .searchFilterWrap .searchFilterBot .checkBox:checked + label {
  color: #76ba99;
  border: 1px solid #76ba99;
}
