.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 140px;
  background-color: black;
  color: white;
  background-image: url('http://res.heraldm.com/phpwas/restmb_idxmake.php?idx=507&simg=/content/image/2019/09/27/20190927000594_0.jpg');
  background-size: cover;
  text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
    -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);

  .menuItemTitle {
    font-size: 24px;
    font-weight: 600;
  }
  .menuItemIntroduce {
    font-size: 16px;
  }
}
