@import '../../styles/variables.scss';

.storeList {
  .storeListContainer {
    position: absolute;
    top: 0;
    margin-top: 80px;
    width: 100%;
    text-align: center;
    background-color: white;

    .storeListTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 100px;

      span:nth-child(1) {
        font-size: 24px;
        color: $melonColor1;
        font-weight: 600;
      }

      span:nth-child(2) {
        font-size: 16px;
        color: gray;
      }
    }

    .storeHashTags {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;

      .storeHashTagItem {
        padding: 10px 20px;
        min-width: 50px;
        max-height: 15px;
        text-overflow: hidden;
        border: 1px solid gray;
        border-radius: 20px;

        &:hover {
          background-color: #eaeaea;
        }
      }
    }

    .storeHashTagItemClicked {
      border: $melonColor1;
      color: $melonColor1;
    }

    .menuItemList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      padding: 10px;
    }
  }
}
