@import '../../styles/variables.scss';

.profileModalBack {
  background-color: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.profileEditBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  gap: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;

  i {
    position: absolute;
    display: flex;
    top: 2%;
    right: 2%;
    background-color: lightgray;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 0.8;
    }
  }

  .profileEditForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .profileImgContainer {
      background-color: black;
      position: relative;

      .profileImg2 {
        width: 80px;
        height: 80px;
        position: absolute;
      }

      .profileImg {
        position: absolute;
        width: 80px;
        height: 80px;
        opacity: 0;
      }
    }

    .profileEditGenderWrap {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .profileEditGender {
        display: flex;

        .profileEditGenderRadio {
          all: revert;
        }
      }
    }
    .profileEditInput {
      border: 1px solid gray;
      width: 100%;
      padding: 10px;
    }

    .profileEditSaveBtn {
      text-align: center;
      height: 40px;
      width: 80px;
      border-radius: 20px;
      background-color: $melonColor2;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

      &:hover {
        background-color: $melonColor1;
      }
    }
  }
}
