.reviewedItem {
  margin-bottom: 10px;
  width: 100%;

  .reviewedItemComment {
    font-size: 14px;
    padding-left: 20px;
    height: 54px;
    line-height: 130%;

    overflow: hidden;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
