.myStoreList {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background-color: black;
  font-size: 35px;
  font-weight: bolder;
  color: white;
  // color:  #adcf9f;
}

.storeList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 100px 40px 100px 40px;
}
