.logintabs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;

  .category {
    all: unset;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 50px;
    width: 194px;
    color: gray;
    font-weight: bolder;
    text-align: center;

    &:hover {
      font-size: larger;
      color: #76ba99;
    }
  }
}
