@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  background-color: white;

  .headerRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .headerLogoImg {
      height: 40px;
    }

    .headerLogoText {
      font-weight: 700;
      color: $melonColor1;
      font-size: 24px;
    }
  }

  .headerLeft {
    display: flex;
    align-items: center;
    gap: 20px;

    .headerProfileImg {
      height: 50px;
      border-radius: 26px;
      border: 2px solid white;
      cursor: pointer;
    }

    .headerCategories {
      height: 25px;

      &:hover {
        cursor: pointer;

        &:hover .menuDropDown {
          visibility: visible;
        }
      }
    }
  }
  // .profileModal {
  //   position: fixed;
  //   display: flex;
  //   right: 30px;
  //   top: 60px;
  //   background-color: white;
  //   cursor: pointer;
  //   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  //   border-radius: 12px;
  //   z-index: 10;

  //   .profileModalLiked,
  //   .profileModalRecent {
  //     height: 300px;
  //     width: 150px;
  //     .profileModalItem {
  //       padding: 10px 20px;

  //       &:hover {
  //         background-color: #eaeaea;
  //       }
  //     }
  //   }
  // }
}
