@import '../../styles/variables.scss';

.menuDropDown {
  position: fixed;
  top: 60px;
  right: 80px;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  z-index: 10;

  .menuDropDownItem {
    padding: 15px 30px;
    font-size: 14px;

    &:hover {
      background-color: $melonColor4;
      border-radius: inherit;
    }
  }
}
