div {
  transition: all 0.3s ease-out;
}

.slideWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  align-items: center;
}

.window {
  // background: coral;
  width: 800px;
  height: 250px;

  overflow: hidden;
}

.flexbox {
  display: flex;
}

.img {
  width: 800px;
  height: 250px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  flex: none;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 3.3rem;
  color: gray;
  padding: 0 10px;
}

.position {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.dot {
  background: lightgray;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}
.dot + .dot {
  margin-left: 20px;
}

.current {
  background: gray;
}
